<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
body{
margin: 0px;
padding: 0px;}
</style>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <div class="footer-web">
        <div class="container-fluid">
            <div class="box__footer">
                <div class="container">
                    <div class="row">
                        <div class="box__one col-xl-4 col-sm-4">
                            <div class="box__logo">
                                <img src="/HTML/img/img-logo.png" alt="">
                            </div>
                            <div class="slogan--web">
                                Sứ mệnh của ThaiCanva.com là đem đến cho người sử dụng trong nước cơ hội tiếp cận với các công cụ phục vụ cho làm việc, học tập, giải trí với giá rẻ hơn lên đến 70% so với giá gốc
                            </div>
                        </div>
                        <div class="box__two col-xl-4 col-sm-4">
                            <div class="box__title">
                                <div class="title">Sản phẩm</div>
                            </div>
                            <div class="box__list">
                                <div class="item__content">
                                    <div class="box__item__one">
                                        <div class="icon"><i class="fa-solid fa-chevron-right"></i><span>Học tập</span></div><div class="line"></div>
                                        <div class="icon"><i class="fa-solid fa-chevron-right"></i><span>Làm việc</span></div><div class="line"></div>
                                        <div class="icon"><i class="fa-solid fa-chevron-right"></i><span>Thiết kế</span></div><div class="line"></div>
                                    </div>
                                    <div class="box__item__one">
                                        <div class="icon"><i class="fa-solid fa-chevron-right"></i><span>Giải trí</span></div><div class="line"></div>
                                        <div class="icon"><i class="fa-solid fa-chevron-right"></i><span>IOS/Android</span></div><div class="line"></div>
                                        <div class="icon"><i class="fa-solid fa-chevron-right"></i><span>Khác</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box__two col col-xl-4 col-sm-4">
                            <div class="box__title">
                                <div class="title">Liên hệ</div>
                            </div>
                            <div class="box__list">
                                <div class="item__content">
                                    <div class="box__item">
                                        <div class="contact">
                                           Email: <a href="">thaicanva.hotro@gmail.com</a> 
                                        </div>
                                        <div class="contact">
                                           Zalo: <a href="">0395 924 204</a>
                                        </div>
                                        <div class="contact">
                                            Messenger: <a href="https://m.me/115442523490827">ThaiCanva</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer__end">Copyright 2025 © <span>ThaiCanva.com</span>. All rights reserved.</div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>